/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');



/* Initialization reset*/
*{
  margin:0;
  padding:0;
}
/* Initialisation box-sizing */
*{
box-sizing: border-box;
}
/**** BODY ***/
body{
  font-family: 'Montserrat', sans-serif;
}

/**** GLOBAL ***/
a{
  text-decoration: none;
  color:initial;
}
ul{
  margin:0;
  padding:0;
}

/*** MEDIA QUERIES ***/
@media (min-width: 1920px) {
  body {
    max-width:1920px;margin:auto!important;
  }
}

